* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cliquer pour commencer le jeu */
#loading {
    position: fixed;
    inset: 0;
    background-color: #000000;
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-items: end;
    align-content: center;
    z-index: 1000;
}

#commencer {
    background-color: rgb(138, 137, 137);
    font-size: 2rem;
    justify-content: center;
    margin:2rem;
    cursor: pointer;
    font-family: TrenchSlab-Regular;
}

#commencer:hover {
    background-color: rgb(232, 229, 229);
}

#loading.cache {
    pointer-events: none;
    transform: translateY(-100%);
    transition: transform 0.9s ease;
}

h2 {
    color: rgb(255, 254, 254);
    font-size: 3rem;
    font-family: TrenchSlab-Regular;
}

/* page de jeu */
header {
    text-align: center;
    padding: 2em;
    grid-column: 2;
}

h1 {
    font-family: TrenchSlab-Regular;
    font-size: 4.7rem;
    color: rgb(255, 254, 254);
}

body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url("../img/bg2.svg"); 
    overflow: hidden;
    background-size:cover;
}

#friteuse {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    grid-row: 2;
    grid-column: 2;
    z-index: 2;
    margin-top: 2rem;
}

#friteuse::before {
    content: "";
    position: absolute;
    width: 307%;
    height: 173%;
    top: 57%;
    left: 24%;
    background-image: url("../img/friteuse.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    transform: translate(-27%, -54%);
    pointer-events: none;
}

.case {
    border: solid rgb(172, 170, 170) 1px;
    display: grid;
    place-items: center;
    height: 10vmin;
    width: 10vmin;
    margin: 1px;
    z-index: 3;
    /* transition: background 3s ease; */
    color:transparent;
    background-repeat: no-repeat;
    /* background-size: 20%;  */
    background-position: center;
    /* animation: 2s ease-in-out; */
    cursor: pointer;   

}

.caseX {
    background-image: url(../img/fried_chicken.svg);
    animation: scal-up 0.5s ease;
    /* background-size: 100% !important; */
}

.case0 {
    background-image: url(../img/fries.svg);
    animation: scal-up 0.5s ease;
}

@keyframes scal-up {
    0% {
        background-size:20%;
    }
    100% {
        background-size: 100%;
    }
}

.case.gagnant {
    /* background-color: rgba(255, 255, 255, 0.4); */
    box-shadow: 0 0 20px rgb(215, 135, 44);
    transform: scale(1.05);
    transition: 0.3s ease;
}

.case:hover {
    background-color: rgba(2, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.case.previewX:hover {
    background-image: url("../img/fried_chicken_raw1.svg") !important;
    opacity: 0.2;
}

.case.previewO:hover {
    background-image: url("../img/fries_raw.svg") !important;
    opacity: 0.2;
}

#poulet {
    background-image: url(../img/plate.svg);
    grid-row: 2;
    grid-column: 1;
    align-content: center;
    height: 30vmin;
    width: 30vmin;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    place-self: center;
    transform: translateY(-4rem);
}

#poulet img {
    width: 43vmin;
    height: 43vmin;
    transform: translateX(-1.5rem) translateY(-3.3rem);
}

#fries {
    background-image: url(../img/plate.svg);
    grid-row: 3;
    grid-column: 1;
    align-content: center;
    height: 30vmin;
    width: 30vmin;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    place-self: center;
    transform: translateY(-4rem);
}

#fries img {
    width: 20vmin;
    height: 20vmin;
    transform: translateX(2.6rem);
}

/* Page pour rejouer */
nav {
    margin-top: 1em;
}

 #boite-message {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.9s ease;
    flex-direction: column;
} 

/* #boite-message img {
    width: 20vmin;
    height: 20vmin;
} */

#message {
    text-align: center;
    margin: 1em;
    color: rgb(255, 254, 254);
    font-size: 3rem;
    font-family: TrenchSlab-Regular;
}

#replay {    
    align-content: center;
    display: block;
    margin: 0 auto;
    padding: 0.5em;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: TrenchSlab-Regular;
    /* transition: fade-out 0.5s ease; */
}

#replay:hover {
    background-color: rgb(164, 164, 164);
    cursor: pointer;
}

/* font */
@font-face {
    font-family: TrenchSlab-Regular;
    src: url("../font/trenchslab/TrenchSlab-Regular.ttf");
}