* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 4em;
    grid-column: 2;
}

h1 {
    font-size: 5rem;
    color: rgb(0, 0, 0);
}
body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-image: url("../img/bg1.svg"); */
    overflow: hidden;
    background-size:cover;

}
#friteuse {
    position: relative;
    width: calc(30vmin + 12px);
    height: calc(30vmin + 12px);
    max-width: 429px; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    top: 4rem;
    grid-row: 2;
    grid-column: 2;

}

#friteuse::before {
    content: "";
    position: absolute;
    top:-3em;
    left: 41%;
    width: 26rem;
    height: 31rem;
    background-image: url("../img/friteuse.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    transform: scale(2.7);
    

}

#friteuse .case {
    border: solid rgb(172, 170, 170) 1px;
    display: grid;
    place-items: center;
    height: 10vmin;
    width: 10vmin;
    margin: 1px;
    z-index: 1;
}

#friteuse .case:hover {
    background: rgb(255, 198, 198);
}

#poulet {
    background-image: url(../img/plate.svg);
    grid-row: 2;
    grid-column: 1;
    align-content: center;
    height: 30vmin;
    width: 30vmin;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    place-self: center;
}
#fries {
    background-image: url(../img/plate.svg);
    grid-row: 3;
    grid-column: 1;
    align-content: center;
    height: 30vmin;
    width: 30vmin;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    place-self: center;
}
/* 
#fries img {
    height: 50%;
    width: 50%;
} */

nav {
    margin-top: 1em;
    grid-row: 3;
    grid-column: 3;
    align-self: center;
}

#message {
    text-align: center;
    margin: 1em;

}

#replay {    
    align-content: center;
    display: block;
    margin: 0 auto;

}