* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
    height: 80px;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

nav a {
    font-family: Outfit-Regular;
    font-size: 1.2em;
    color: #000000;
    text-decoration: none;
}

nav a:link {
    transition: color 0.3s;
}

nav a:hover {
    color: #711E1B;
}

header {
    font-family: ImperialScript;
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
}

.h1 {

    width: 700px;
    height: auto;
    /* font-size: clamp(2rem, 3vw, 4rem); */
}

.head-img {
    padding-top: 50px;
    width: auto;
    height: 240px;
}

body {
    background-color:#EFE6DD ;
}

@media screen and (max-width: 365px) {
    nav {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1300px) {

    .h1 {
        width: 100%;
        height: auto;
    }

    .head-img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 450px) {
    header {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@font-face {
  font-family: ImperialScript;
  src: url(../font/imperial\ script/ImperialScript-Regular.ttf);
}

@font-face {
  font-family: Outfit-Regular;
  src: url(../font/outfit/Outfit-Regular.ttf);
}