* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
    height: 80px;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #EFE6DD;
    position: sticky;
    top: 0;
    outline: #000000 solid 1px;
}

nav a {
    font-family: Outfit-Regular;
    font-size: 1.2em;
    color: #000000;
    text-decoration: none;
}

nav a:link {
    transition: color 0.3s;
}

nav a:hover {
    color: #711E1B;
}

header {
    height: 800px;
    font-family: ImperialScript;
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
}

.h1 {

    width: 850px;
    height: auto;
    /* font-size: clamp(2rem, 3vw, 4rem); */
    align-self: center;
    position: relative;
    left: 300px;
    top: -40px;
}

.head-img {
    padding-top: 50px;
    width: auto;
    height: 240px;
}

body {
    background-color:#EFE6DD ;
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 130px;
    align-items: center;
}
#about img {
    width: 530px;
    height: auto;
    justify-self: center;
}

#about h3 {
    font-family: ImperialScript;
    font-size: 7rem;
    color: #711E1B;
    font-weight: lighter;
}
.what-are-they {
    padding: 30px;
    /* align-self: end; */
}
.what-are-they hr {
   background-color: #711E1B;
   height: 2.3px;
   width: 520px;
}

.what-are-they p{
    padding: 20px 50px 0 0;
    font-family: Outfit-Regular;

}
#flowers {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 90px;
} 

#flowers .subtitle h3 {
    font-family: ImperialScript;
    font-size: 8rem;
    color: #711E1B;
    font-weight: lighter;
}

#flowers .subtitle hr {
    background-color: #711E1B;
    height: 2.3px;
    width: 660px;
}
.subtitle {
    padding: 30px;
}

#common {
    display: grid;
    grid-template-rows: 1fr 1fr;

}

#common h3 {
    font-family: ImperialScript;
    font-size: 7rem;
    color: #711E1B;
    font-weight: lighter;
    text-align: center;
}

#common hr {
    justify-self: center;
    height: 2.3px;
    width: 570px;
    background-color: #711E1B;
}

footer {
    background-color:#711E1B;
    width: 100%;
    background-size: cover;
    padding: 35px;
    font-size: 17px;
    color: #ffffff;

}

.footer-socials {
    transition: opacity 1% ease;
    position: relative;
    bottom: 6px;
}

.footer-socials img {
    height: 24px;
}

.footer-socials img:hover {
    opacity: 0.5;
}

footer p {
    max-width: 60%;
    padding: 5px;
    font-family: Outfit-Regular;
}

@media screen and (max-width: 365px) {
    nav {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1300px) {

    .h1 {
        width: 100%;
        height: auto;
    }

    .head-img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 450px) {
    header {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@font-face {
  font-family: ImperialScript;
  src: url(../font/imperial\ script/ImperialScript-Regular.ttf);
}

@font-face {
  font-family: Outfit-Regular;
  src: url(../font/outfit/Outfit-Regular.ttf);
}