* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
    text-align: center;
    padding: 15px;
}

nav a {
    font-size: 1.44rem;
    color: rgb(111, 90, 71);
    text-decoration: none;
    padding: 30px;
    font-family: AveriaSansLibre-Regular;
}

nav a:hover {
    color: #30103f;
}

#text {
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    font-family: AveriaSansLibre-Regular;
    background-color: #D3C758;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

#text p {
    animation-name: text;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    /* background-color: #BFB6D4; */
}

@keyframes text {
    0% {transform: translateX(0);}
    100% {transform: translateX(100%);}
}

#head {
    background-image: url(../img/leducchinh61900-woman-6023439.jpg); 
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 11.391rem;
    margin-bottom: 50px;
}

h1 {
    /* font-size: clamp(48px, 8vw, 94px); */
    font-size: clamp(16px, 8vw, 94px);
    text-align: center;
    color: white;
    /* position: relative;
    top: 215px; */
    font-family: BagelFatOne-Regular;
    width: 100%;
}

h3 {
    font-family: AveriaSansLibre-Regular;
    color: #ffffff;
    font-size: 1.44rem;
}

a {
    text-decoration: none;
}

#card {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
}

#card-outfit {
    background-color: #D3C758;
    width: 300px;
    height: 300px;
    align-content: center;
    text-align: center;
    margin-left: 0px;
    border-radius: 20px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);   
}

#card-outfit:hover {
    transition: transform 0.3s ease;
    transform: rotate(5deg);
    margin-left: -3em;
    opacity: 0.7;
    transition: opacity 500ms;
}

#card-hamburger {
    background-color: #E0D6C8;
    width: 300px;
    height: 300px;  
    align-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);  
}

#card-hamburger:hover {
    transition: transform 0.3s ease;
    transform: rotate(5deg);
    margin-left: -3em;
    opacity: 0.7;
    transition: opacity 500ms;
}

#card-store {
    background-color: #785642;
    width: 300px;
    height: 300px;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);   
}

#card-store:hover {
    transform: rotate(5deg);
    /* transition: transform 100ms ease-out; */
    margin-left: -3em ;
    opacity: 0.7;
    transition: opacity 500ms;
}

@media screen and (max-width:950px) {
  #card {
    grid-template-columns: 1fr 1fr ;
  }
}

@media screen and (max-width: 650px) {
  #card {
    grid-template-columns: 1fr;
  }
}

#outfit-section {
    display:grid;
    grid-template-rows: auto 1fr;
    background-color: #D3C758;
    padding: 20px ;
    margin-top: 50px;
}
#outfit-section h6 {
    padding-left: 50px;
}
#outfit {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* scrollbar-width: none; */
    /* background-color: #D3C758; */
    
}

 h6 {
    font-size: clamp(2.5rem, 5vw, 3.815rem);
    font-family:BagelFatOne-Regular ;
    color: #ffffff;

}
.outfit-slide {
    flex-shrink: 0;
    width: calc(100% / 3); 
    aspect-ratio: .8;
    scroll-snap-align: center;
    animation: slide;
    animation-timeline: view(inline);
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease;
        img {
            width: 100%;
            height: auto;
    }
}

.outfit-slide.is-visible {
  opacity: 1;
  transform: translateY(0);
  justify-self: auto;
}

/* #outfit img{
    width: 100%;
    height: 100%;
} */
@keyframes slide {
  45%, 100% {
    transform: scale(0.5);
    border-radius: 20px;
    filter: blur(6px) brightness(.8);
  }
  50% {
    transform: scale(1);
    border-radius: 4px;
    filter: none;
  }

}
#hamburger {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    min-height: 500px; 
    background-color: #E0D6C8;
    transition: all 0.6s ease;   
    opacity: 0;
    transform: fadein ;
    transition: all 0.6s ease; 
}

#hamburger-text h6 {
    font-size: clamp(2.5rem, 5vw, 3.815rem);
    padding: 50px;
    font-family:BagelFatOne-Regular ;
    color: #D3C758;
    animation: hamburger;
}

#hamburger-text p {
    font-size: clamp(14px, 2.5vw, 1.563rem);
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: AveriaSansLibre-Regular;

}
#hamburger.is-visible {
    opacity: 1;
    transform: translateY(0);   
} 


#hamburger img {
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
}
@media screen and (max-width: 1200px) {
  #hamburger {
    grid-template-columns: 1fr;
  }
}

#store {
    background-color: #785642;
    display: grid;
    opacity: 0;
    transform: fadein ;
    transition: all 0.6s ease; 
}

#store h5 {
    font-size: clamp(2.5rem, 5vw, 3.815rem);
    color: #E0D6C8;
    font-family: BagelFatOne-Regular;
    padding-left: 20px;
}

iframe {
    justify-self: center;
    padding: 20px;
    width: 100%;
}

#store.is-visible {
    opacity: 1;
    transform: translateY(0);   
} 


footer {
    background-color:#D3C758;
    width: 100%;
    background-size: cover;
    padding: 35px;
    font-size: 17px;
    color: #252926;

}

.footer-socials {
    transition: opacity 1% ease;
    position: relative;
    bottom: 6px;
}

.footer-socials img {
    height: 24px;
}

.footer-socials img:hover {
    opacity: 0.5;
}

footer p {
    max-width: 60%;
    padding: 5px;
    font-family: AveriaSansLibre-Regular;
}

footer button:hover {
    cursor: pointer;
}

@font-face {
  font-family: BagelFatOne-Regular;
  src: url(../font/bagelfat/BagelFatOne-Regular.ttf);
}

@font-face {
  font-family: AveriaSansLibre-Regular;
  src: url(../font/bagelfat/averia/AveriaSansLibre-Regular.ttf);
}